:root {
    --body-1-strong-font-family: "Segoe UI", Helvetica;
    --body-1-strong-font-size: 14px;
    --body-1-strong-font-style: normal;
    --body-1-strong-font-weight: 400;
    --body-1-strong-letter-spacing: 0px;
    --body-1-strong-line-height: 20px;
    --body-base-font-family: "Inter", Helvetica;
    --body-base-font-size: 16px;
    --body-base-font-style: normal;
    --body-base-font-weight: 400;
    --body-base-letter-spacing: 0px;
    --body-base-line-height: 139.9999976158142%;
    --body-bold-font-family: "Roboto", Helvetica;
    --body-bold-font-size: 16px;
    --body-bold-font-style: normal;
    --body-bold-font-weight: 700;
    --body-bold-letter-spacing: 0px;
    --body-bold-line-height: 120.00000476837158%;
    --body-font-family: "Roboto", Helvetica;
    --body-font-size: 16px;
    --body-font-style: normal;
    --body-font-weight: 400;
    --body-letter-spacing: 0px;
    --body-line-height: 120.00000476837158%;
    --brand-brand-70: rgba(17, 94, 163, 1);
    --brand-brand-80: rgba(15, 108, 189, 1);
    --button-shape-button-corner-radius: var(--global-corner-radius-medium);
    --collection-1-colorbob: rgba(50, 16, 153, 1);
    --collection-1-recording: none;
    --color-background-default-default: var(--color-primitives-white-1000);
    --color-border-default-default: var(--color-primitives-gray-300);
    --color-primitives-gray-300: rgba(217, 217, 217, 1);
    --color-primitives-gray-600: rgba(68, 68, 68, 1);
    --color-primitives-gray-900: rgba(30, 30, 30, 1);
    --color-primitives-white-1000: rgba(255, 255, 255, 1);
    --color-text-default-default: var(--color-primitives-gray-900);
    --global-colors-neutral-black: rgba(0, 0, 0, 1);
    --global-colors-neutral-white: rgba(255, 255, 255, 1);
    --global-corner-radius-circular: 9999px;
    --global-corner-radius-medium: 4px;
    --global-corner-radius-none: 0px;
    --h1-font-family: "Roboto", Helvetica;
    --h1-font-size: 48px;
    --h1-font-style: normal;
    --h1-font-weight: 400;
    --h1-letter-spacing: 0px;
    --h1-line-height: 120.00000476837158%;
    --h2-font-family: "Roboto", Helvetica;
    --h2-font-size: 40px;
    --h2-font-style: normal;
    --h2-font-weight: 400;
    --h2-letter-spacing: 0px;
    --h2-line-height: 120.00000476837158%;
    --h3-font-family: "Roboto", Helvetica;
    --h3-font-size: 36px;
    --h3-font-style: normal;
    --h3-font-weight: 400;
    --h3-letter-spacing: 0px;
    --h3-line-height: 120.00000476837158%;
    --h4-font-family: "Roboto", Helvetica;
    --h4-font-size: 32px;
    --h4-font-style: normal;
    --h4-font-weight: 400;
    --h4-letter-spacing: 0px;
    --h4-line-height: 120.00000476837158%;
    --h5-bold-font-family: "Roboto", Helvetica;
    --h5-bold-font-size: 24px;
    --h5-bold-font-style: normal;
    --h5-bold-font-weight: 700;
    --h5-bold-letter-spacing: 0px;
    --h5-bold-line-height: 120.00000476837158%;
    --h5-font-family: "Roboto", Helvetica;
    --h5-font-size: 24px;
    --h5-font-style: normal;
    --h5-font-weight: 400;
    --h5-letter-spacing: 0px;
    --h5-line-height: 120.00000476837158%;
    --page-header-2-font-family: "Roboto", Helvetica;
    --page-header-2-font-size: 64px;
    --page-header-2-font-style: normal;
    --page-header-2-font-weight: 400;
    --page-header-2-letter-spacing: 0px;
    --page-header-2-line-height: 100%;
    --page-header-font-family: "Roboto", Helvetica;
    --page-header-font-size: 96px;
    --page-header-font-style: normal;
    --page-header-font-weight: 400;
    --page-header-letter-spacing: 0px;
    --page-header-line-height: 100%;
    --primary: rgba(0, 55, 32, 1);
    --single-line-body-base-font-family: "Inter", Helvetica;
    --single-line-body-base-font-size: 16px;
    --single-line-body-base-font-style: normal;
    --single-line-body-base-font-weight: 400;
    --single-line-body-base-letter-spacing: 0px;
    --single-line-body-base-line-height: 100%;
    --size-radius-200: 8px;
    --size-space-200: 8px;
    --size-space-300: 12px;
    --size-space-400: 16px;
    --spacing-horizontal-m: 12px;
    --spacing-horizontal-snudge: 6px;
    --spacing-horizontal-XS: 4px;
    --spacing-vertical-snudge: 6px;
    --theme-brand-background-1-rest: var(--brand-brand-80);
    --theme-neutral-foreground-on-brand-rest: var(--global-colors-neutral-white);
    --theme-neutral-stroke-focus-1-rest: var(--global-colors-neutral-white);
    --theme-neutral-stroke-focus-2-rest: var(--global-colors-neutral-black);
  }
  
  /*
  
  To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:
  
  <body data-color-mode="SDS-light">
      <!-- the rest of your content -->
  </body>
  
  You can apply the theme on any DOM node, not just the `body`
  
  */
  
  [data-color-mode="SDS-light"] {
    --color-background-default-default: var(--color-primitives-white-1000);
    --color-border-default-default: var(--color-primitives-gray-300);
    --color-text-default-default: var(--color-primitives-gray-900);
  }
  
  [data-color-mode="SDS-dark"] {
    --color-background-default-default: var(--color-primitives-gray-900);
    --color-border-default-default: var(--color-primitives-gray-600);
    --color-text-default-default: var(--color-primitives-white-1000);
  }
  
  [data-theme-mode="light"] {
    --theme-brand-background-1-rest: var(--brand-brand-80);
    --theme-neutral-stroke-focus-1-rest: var(--global-colors-neutral-white);
    --theme-neutral-stroke-focus-2-rest: var(--global-colors-neutral-black);
  }
  
  [data-theme-mode="dark"] {
    --theme-brand-background-1-rest: var(--brand-brand-70);
    --theme-neutral-stroke-focus-1-rest: var(--global-colors-neutral-black);
    --theme-neutral-stroke-focus-2-rest: var(--global-colors-neutral-white);
  }
  
  [data-button-shape-mode="rounded-default"] {
    --button-shape-button-corner-radius: var(--global-corner-radius-medium);
  }
  
  [data-button-shape-mode="circular"] {
    --button-shape-button-corner-radius: var(--global-corner-radius-circular);
  }
  
  [data-button-shape-mode="square"] {
    --button-shape-button-corner-radius: var(--global-corner-radius-none);
  }
  